@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin flex-row-around {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@mixin flex-row-between-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-row-around-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-colum-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-colum-center-reverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@mixin flex-colum-center-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin flex-colum-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-colum-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-colum {
  display: flex;
  flex-direction: column;
}

/* Title */

@mixin title-main {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  color: $color-black;
  background-color: $color-white;
}

/* Button */

@mixin cta-style {
  margin: 100%;
  width: fit-content;
  padding: 10px 20px;
  font-weight: bold;
  border: 2px solid $second-color;
  background-color: $second-color;
  border-radius: $radius-card;
  color: $color-black;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1) 1s;
  &:hover {
    cursor: pointer;
    background-color: $transparent;
  }
}
