@import '../../styles/config.scss';

.Profile {
  position: relative;
  .List {
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
    .TotalPrice {
      @include flex-row-between-center;
      h2 {
        max-width: 200px;
      }
    }
    .Item {
      box-sizing: border-box;
      width: 100%;
      @include flex-row-between-center;
      padding: 10px;
      margin-bottom: 20px;
      border: 2px solid $primary-color;
      border-radius: $radius-card;
      h3 {
        width: 200px;
      }
    }
  }
  .CTA {
    width: 100%;
  }
  .Nav {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
